{% extends "notes.html" %}

{% block title %}
	Basics of Web and HTML
{% endblock %}

{% block lesson %}
	<p>
		The <em>World Wide Web</em> is a collection of documents, most are made up of HTML. The browser reads, interprets, and displays these documents. Servers are computers that host files that make up the web. Computers make requests via the internet to servers, the internet and servers communicate through http. HTTP is the main protocol of the web.
	</p>
	<p>
		<em>Coding</em> is when programmers write text in a language computers understand, so the computer can follow the instructions. Computers are stupid, even a small mistake like a typo can break the whole program.
	</p>
	<p>
		<em>Basic HTML vocabulary:</em><br>
		<em>Tag</em> - HTML tags are always contained in angle brackets. Most tags have opening and closing tags (designated with a forward-slash), but some tags called void tags do not require a closing tag. There are inline tags and block tags - block tags create an invisible box or container around the content that has a height and width, while inline tags do something within the line.<br>
		<em>Element</em> - An HTML element refers to everything within a set of opening and closing tags.<br>
		<em>Attribute</em> - This is a property of an HTML element, such as the source in an image tag.
	</p>
{% endblock %}