{% extends "notes.html" %}

{% block title %}
	How to Solve Problems
{% endblock %}

{% block lesson %}
	<p>
		The first step to solving any problem is to understand the inputs and outputs. The inputs are anything the program will be responsible for processing, while the outputs are the desired response we want the function to provide.
	</p>
	<p>
		Before you start coding, it is often useful to work through some examples by hand and develop a simple mechanical solution that we can base the function off of. Then once you start coding, develop the code in small parts and test as you go. It's easier to fix problems as they arise than to have to find and fix all the problems at the end!
	</p>
{% endblock %}