{% extends "notes.html" %}

{% block title %}
	Creating a Structured Document with HTML
{% endblock %}

{% block lesson %}
	<p>
		<em>HTML (HyperText Markup Language)</em> is the structure of a webpage. HTML is the standard markup language used to create webpages.
	</p>
	<p>
		<em>DOM (Document Object Model)</em> refers to the tree-like structure of a webpage. DOM is a cross-platform and language-independent convention for representing and interacting with objects in markup languages. The nodes of every document are organized in a tree structure, called the DOM tree.
	</p>
	<p>
		Websites are all made up of boxes, with boxes inside those boxes, and more boxes inside those. Box-ception. When reading the HTML you can see the "boxes" by the indentation in the code - the further indented the code is the deeper the visual box is nested.
	</p>
{% endblock %}