{% extends "notes.html" %}

{% block title %}
	Telling Computers What to Do
{% endblock %}

{% block lesson %}
	<p>
		A computer is a <em>universal machine</em>, that means it can be programmed to do anything we want it to do, unlike machines like a vacuum cleaner that can only do their one function. A program is a precise sequence of steps for a computer to follow. Some examples of programs are web browsers, video games, and instant messaging.
	</p>
	<p>
		We create new languages for computers rather than using natural languages like English because of the ambiguity and verbosity of natural languages. We want to be able to tell the computer precisely what to do without requiring a large amount of text. Programming languages have grammar rules just like natural languages, but we must follow the rules exactly for the program to work. An <em>expression</em> in code is a legal statement, one that follows the grammar rules of the programming language.
	</p>
	<p>
		<em>Python</em> is a programming language. When you run Python code, a Python interpreter converts the code into instructions for the computer to execute.
	</p>
{% endblock %}