*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.content{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 750px;
  min-width: 350px;
  font: 17px sans-serif;
}
h1{
  color: #03464D;
  text-align: center;
  font-size: 38px;
}
.tablecontents{
  margin-bottom: 10px;
  text-align: center;
}
.lesson, .comments-section{
  background-color: #96DBE0;
  margin: 10px auto;
  border-radius: 10px;
}
h2{
  background-color: #05828F;
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
}
.headerimg {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 40%;
}
img{
  position: absolute;
  width: 100%;
  border-radius: 10px;
}
.notes{
  padding: 10px;
}
.resources{
  border-radius: 10px;
  border: 2px dashed #96DBE0;
  padding: 10px;
  color: #05828F;
  margin: 15px auto;
  text-align: center;
}
.ref{
  font-size: 25px;
}
a:link, a:visited{
  text-decoration: none;
  color: #05828F;
}
a:hover, a:active{
  text-decoration: none;
  color: #96DBE0;
}
p{
  margin: 5px;
}
.toplink{
  text-align: right;
}
.toplink a:link, a:visited{
  color: #05828F;
}
.toplink a:hover, a:active{
  color: white;
}
.video{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 55%;
}
iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}
form{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 15px;
  padding-top: 15px;
}
textarea{
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 200px;
}
.no-comments{
  text-align: center;
  padding: 15px;
}
.button{
  background-color: #05828F;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.error-message{
  color: #c0392b;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.comment{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: dashed 1px #05828F;
  border-radius: 5px;
}
.comment-content{
  padding-left: 10px;
  padding-right:10px;
}
.comments-section{
  padding-bottom: 10px;
}